*{
    margin:0px; /*to not get extra margin and padding for the elements*/
    padding: 0px;
    border: border-box; /* it means the padding and border should add inside, then the conentbox would shrink used in mostly larger projects*/
}

.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}
.nav-logo{
    height: 50px;
    width: 100px;
}

.logo{
    background-image: url("ama.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 50px;
    width: 100px;

}

.border{
    border: 2px solid transparent;
}

.border:hover{
    border: 2px solid white;
}

.add-first{
    color:#cccccc;
    font-size: 0.85rem; /* font-sizes are added in terms of rem*/
}

.add-second{
    font-size: 1rem;
    margin-left: 3px;
}

.add-icon{
    display:flex;
    align-items: center;
}

.nav-search{
    display:flex;
    justify-content: space-evenly;
    background-color: pink;
    width: 620px;
    height: 40px;
    border-radius: 4px;
}

.nav-search:hover{
    border : 2px solid orange;
}

.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.search-input{
    width:100%;
    font-size: 1rem;
    border:none;
}

.search-icon{
    width:45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #febd68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color:#0f1111;
}


.signin{
    font-size: 0.85rem;
}

.account{
    font-size:1rem;
    font-weight: 700;
}

.orders{
    font-size:1rem;
    font-weight: 700;
}

.nav-cart i{
    font-size: 35px;
}

.nav-panel{
    height: 40px;
    background-color: #222f3d;
    color:white;
    display :flex;
    justify-content: left;
    align-items: center;

}

.nav-panel-all{
    width: 50px;
}
.nav-panel-all a{
    text-decoration: none;
    font-size: 0.9rem;
    color: white;

}

.nav-panel-modes a{
    text-decoration: none;
    font-size: 0.9rem;
    color: white;
    padding: 15px;
}

.nav-panel-search a{
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 600;
    color: white;
    position: absolute;
    right: 0;
    padding-right: 30px;
    padding-bottom: 6px;
    font-family: sans-serif, Arial;
    
}

.hero-sec{
    background-image: url('mainbackground.png');
    background-size: cover;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.tagline{
    height: 40px;
    background-color:white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width: 80%;
    margin-bottom: 25px; ;
}

.tagline p{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.tagline a{
    text-decoration: none;
    color:#007185;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;

}
.content{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    background-color: #e2e7e6;
}

.box{
    border: 2px solid #e2e7e6;
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
    font-family: Arial, Helvetica, sans-serif;

}

.box-img{
    height: 300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-repeat: no-repeat;
}

.box-content{
    margin-left: 10px;
    margin-right: 10px;
}

.box-content a{
    color: #007185;
    text-decoration: none;
    font-size: 1rem;
}

.backtotop{
    height: 50px;
    background-color: #222f3d;
    color: white;
    display:flex;
    align-items: center;
    justify-content: center; 
    font-family: Arial, Helvetica, sans-serif;
}
.backtotop a{
    text-decoration: none;
    color: white;
    font-size: 0.9rem;
}
.backtotop:hover{
    opacity: 0.5;
}

.footer-content{
    height: 350px;
    background-color: #0f1111;
    display:flex;
    justify-content: space-evenly;
    font-family: Arial, Helvetica, sans-serif;
}

.footercontent1{
    color: white;
    margin-top: 10px;
    font-size: 1.5rem;
    
}
.footercontent1 ul{
    margin-top: 10px;
}

.footercontent1 ul li a{
    text-decoration: none;
    color:white;
    font-size: 0.9rem;
    margin-top: 10px;
    text-align: center;
}

.footercontent1 ul li a:hover{
    text-decoration:underline;
}
.footercontent2{
    background-color: #0c0f0f;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    flex-wrap: wrap;
}

.insidecontent a {
    text-decoration: none;
    color:white;
    padding-right: 10px;
    font-size: 1rem;
}


